:root { 
--white_A700_7f:#ffffff7f; 
--red_800:#d91621; 
--yellow_800_a5:#e4b12da5; 
--red_A100_01:#fd8e8e; 
--light_green_A100:#c1ef94; 
--green_900:#0d7911; 
--blue_300_01:#699bf7; 
--black_900_3f:#0000003f; 
--blue_400_f7:#3a98ddf7; 
--light_blue_900:#065988; 
--deep_purple_200:#c4a6d6; 
--teal_300:#3b9ac3; 
--yellow_600:#ffd233; 
--black_900_01:#070706; 
--yellow_800:#f6a730; 
--teal_900:#11464a; 
--blue_gray_700:#494a5e; 
--purple_700:#832992; 
--deep_purple_A200:#9747ff; 
--purple_500:#b3288c; 
--black_900_02:#00141a; 
--deep_orange_100:#f1b3b3; 
--gray_600:#797979; 
--purple_500_01:#bb2190; 
--gray_400:#c7c3c3; 
--blue_gray_100:#d9d9d9; 
--blue_700:#1b7bd3; 
--lime_500_9e:#dbdf1c9e; 
--red_800_01:#d81521; 
--lime_600_00:#c5c81f00; 
--blue_300:#74b9e0; 
--blue_100:#c6eaf2; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4a4b5f; 
--teal_900_01:#043437; 
--red_A100_a5:#ff7b7ba5; 
--blue_A100_01:#85b6ff; 
--blue_gray_100_01:#d5d1d1; 
--blue_A100:#77a3f3; 
--green_800:#00901f; 
--amber_A400:#f6c000; 
--light_blue_800:#0064c0; 
--green_A400:#03fc73; 
--light_green_900:#567400; 
--teal_600:#1f9c6f; 
--black_900:#000000; 
--amber_A400_01:#ffc700; 
--deep_orange_600:#f24e1e; 
--light_green_700:#62b72d; 
--yellow_900:#de7718; 
--purple_800:#7b0a8e; 
--lime_800_02:#c4951b; 
--lime_800_01:#b29b22; 
--deep_purple_A200_01:#9a58f0; 
--blue_300_c9:#5fa9d3c9; 
--orange_50_a5:#fbf5e3a5; 
--green_800_01:#009020; 
--gray_500:#b49971; 
--blue_800:#264dd6; 
--white_A700_a2:#ffffffa2; 
--lime_800:#c58810; 
--red_A100:#fc8e8e; 
--gray_300:#e6e6e6; 
--cyan_100:#c6eef1; 
--deep_purple_200_01:#c4a6d7; 
--cyan_100_c1:#c2e5eac1; 
--cyan_900:#00646b; 
}